body, html {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-image: url("../static/img/task.png");
    background-color: #cccccc;
    
}



table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    margin: 10px;
}

#content {
    width: 70%;

}

#Addtask {
    width: 100%;
    border-top: 5px;
}

